@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.outer-Container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    width: 380px;
    height: auto;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 12px 20px #abb2b9;
    overflow: hidden;
}

h2{
    text-align: center;
    color: dimgray;
}

.container{
    padding: 16px;
}

input[type=text], input[type=email], input[type=password]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
    padding: 12px 20px;
}

input[type=text]:focus,input[type=email]:focus, input[type=password]:focus{
    outline: 1px solid #1877f2;
}

button{
    border: none;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

#login-btn{
    width: 100%;
    padding: 14px 20px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #4dc9e6, #47aafb);
}

#login-btn:hover{
    background-image: linear-gradient(to right, #47aafb, #4dc9e6);
}

#forgot-psw{
    font-size: 14px;
    float: right;
    padding-top: 3px;
    text-decoration: none;
    color: #47aafb;
}

#forgot-psw:hover{
    text-decoration: underline;
}

.bottom-Container{
    text-align: center;
    padding: 16px;
    border-top: 2px solid silver;
}

#create-btn{
    padding: 12px 14px;
    background-color: #42b72a;
}

#create-btn:hover{
    background-color: #36a420;
}